tmp/*
.cursor/*
server
.DS_Store
web/node_modules/
web/.next/
web/.env.local
backend/bin/*
backend/coverage.out
backend/configs/config.yml
coverage.out
backend/configs/config.env
backend/configs/docker.env
